body {
    background: url(images/large/wallpapers-HD-lg-2560x1600.jpg)fixed no-repeat center;
      text-align: center;
      color: white;
}
h1, h2, h3,#game-play {
    background-color: black;
    opacity: .9;
}




