/*----------------------------------------*\
#Admin
\*----------------------------------------*/

#edit-btn-link {
    text-decoration: none;
}

.edit-btns-default-fixed {
    top: 18%;
}

.edit-btns-save-fixed,
.edit-btns-edit-fixed {
    top: 9%;
}


.edit-btns-save-fixed,
.edit-btns-edit-fixed,
.edit-btns-default-fixed {
    left: 2%;
    position: fixed;
    background-color: black;
    color: white;
    font-size: 3em;
    z-index: 10000;
    padding: 1%;
}

.edit-btns {
    color: red;
    font-size: 3em;
    position: relative;
    left: 5%;
    top: 300px;
    font-size: 10em;
    z-index: 1;
}














/*----------------------------------------*\
#Custom video player dw
\*----------------------------------------*/

#player-dw-root {
    height: auto;
    width: auto;
    text-align: center;
}

.loading {
    color: turquoise;
    text-shadow: 0 1px 0 black;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19458d+20,216ec7+50,19458d+80&0+0,0.8+42,1+49,0.8+56,0+100 */
    background: -moz-linear-gradient(top, rgba(25, 69, 141, 0) 0%, rgba(25, 69, 141, 0.38) 20%, rgba(31, 99, 184, 0.8) 42%, rgba(33, 109, 197, 1) 49%, rgba(33, 110, 199, 0.97) 50%, rgba(31, 102, 187, 0.8) 56%, rgba(25, 69, 141, 0.36) 80%, rgba(25, 69, 141, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(25, 69, 141, 0) 0%, rgba(25, 69, 141, 0.38) 20%, rgba(31, 99, 184, 0.8) 42%, rgba(33, 109, 197, 1) 49%, rgba(33, 110, 199, 0.97) 50%, rgba(31, 102, 187, 0.8) 56%, rgba(25, 69, 141, 0.36) 80%, rgba(25, 69, 141, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(25, 69, 141, 0) 0%, rgba(25, 69, 141, 0.38) 20%, rgba(31, 99, 184, 0.8) 42%, rgba(33, 109, 197, 1) 49%, rgba(33, 110, 199, 0.97) 50%, rgba(31, 102, 187, 0.8) 56%, rgba(25, 69, 141, 0.36) 80%, rgba(25, 69, 141, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0019458d', endColorstr='#0019458d', GradientType=0);
    /* IE6-9 */
}











/*----------------------------------------*\
#Image splitting ipad
\*----------------------------------------*/

.ipad {
    border-style: solid;
    border-width: 130px 55px 130px;
    -moz-border-image: url('css/tablet-bg.png') 130 55 130 repeat;
    -webkit-border-image: url('css/tablet-bg.png') 130 55 130 repeat;
    -o-border-image: url('css/tablet-bg.png') 130 55 130 repeat;
    border-image: url('css/tablet-bg.png') 130 55 130 fill repeat;
}











/*----------------------------------------*\
#Images
\*----------------------------------------*/

.textarea-style {
    font-size: 2em;
    max-width: 80%;
}

.navbar {
    z-index: 1;
    opacity: .7;
    font-size: 2em;
    font-weight: 400;
}























/*----------------------------------------*\
#Background Colors
\*----------------------------------------*/

.bg-white {
    background-color: white;
}


















/*----------------------------------------*\
#Gradients
\*----------------------------------------*/

.black-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
    background: #7d7e7d;
    /* Old browsers */
    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=0);
    /* IE6-9 */
}

.blue-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+20,2989d8+50,1e5799+80&0+0,0.8+15,1+19,1+81,0.8+85,0+100;Blue+Two+Sided+Transparent */
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799', GradientType=0);
    /* IE6-9 */
}

.blue-gradient-btn {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19458d+20,216ec7+50,19458d+80&0+0,0.8+42,1+49,0.8+56,0+100 */
    background: -moz-linear-gradient(top, rgba(25, 69, 141, 0) 0%, rgba(25, 69, 141, 0.38) 20%, rgba(31, 99, 184, 0.8) 42%, rgba(33, 109, 197, 1) 49%, rgba(33, 110, 199, 0.97) 50%, rgba(31, 102, 187, 0.8) 56%, rgba(25, 69, 141, 0.36) 80%, rgba(25, 69, 141, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(25, 69, 141, 0) 0%, rgba(25, 69, 141, 0.38) 20%, rgba(31, 99, 184, 0.8) 42%, rgba(33, 109, 197, 1) 49%, rgba(33, 110, 199, 0.97) 50%, rgba(31, 102, 187, 0.8) 56%, rgba(25, 69, 141, 0.36) 80%, rgba(25, 69, 141, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(25, 69, 141, 0) 0%, rgba(25, 69, 141, 0.38) 20%, rgba(31, 99, 184, 0.8) 42%, rgba(33, 109, 197, 1) 49%, rgba(33, 110, 199, 0.97) 50%, rgba(31, 102, 187, 0.8) 56%, rgba(25, 69, 141, 0.36) 80%, rgba(25, 69, 141, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0019458d', endColorstr='#0019458d', GradientType=0);
    /* IE6-9 */
}


.top-layer {
    z-index: 100;
}
































/*----------------------------------------*\
#Fontawesome icons
\*----------------------------------------*/

.fa-long-arrow-down {
    color: white;
    font-size: 3em;
}

.fa-briefcase {
    left: 20%;
}

.fa-shopping-cart {
    left: 70%;
}

.fa-briefcase,
.fa-shopping-cart {
    font-size: 15em;
    position: absolute;
    bottom: 100px;
    z-index: 1;
    color: turquoise;
    opacity: .7
}

.fa:hover {
    color: limegreen;
    background-color: black;
}






























/*----------------------------------------*\
#Video Overlay Main
\*----------------------------------------*/

.main-parallax-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('css/bg.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

.img-wrapper {
    height: auto;
    width: auto;
}

.img-wrapper>img {
    max-height: 300px;
    max-width: 500px;
    min-height: 300px;
    min-width: 500px;
}
















/*----------------------------------------*\
#Text Shadows
\*----------------------------------------*/

.black-txt-shadow {
    text-shadow: 0 2px 0 black;
}

.white-txt-shadow {
    text-shadow: 0 2px 0 white;
}


























/*----------------------------------------*\
#Fonts
\*----------------------------------------*/

@font-face {
    font-family: openSans;
    src: url(fonts/OpenSans-CondLight.ttf);
}

.font-1 {
    font-family: openSans;
}

























/*----------------------------------------*\
#Letter Spacing
\*----------------------------------------*/

.letter-spacing-minus-3 {
    letter-spacing: -3px;
}




















/*----------------------------------------*\
#Text Colors
\*----------------------------------------*/

.white-txt {
    color: white;
}

.black-txt {
    color: black;
}

.dodgerblue-txt {
    color: dodgerblue;
}


















/*----------------------------------------*\
#Text Sizes
\*----------------------------------------*/

.xl-txt {
    font-size: 8em;
    font-weight: 300;
    text-shadow: 0 5px 0 black;
}

.big-txt {
    font-size: 5em;
}

.large-txt {
    font-size: 3em;
}

.medium-txt {
    font-size: 2em;
}

.small-txt {
    font-size: 1em;
}


















/*----------------------------------------*\
#Text Weight
\*----------------------------------------*/

.txt-100 {
    font-weight: 100;
}

.txt-600 {
    font-weight: 600;
}

.txt-900 {
    font-weight: 900;
}



















/*----------------------------------------*\
#Opacity
\*----------------------------------------*/

.opacity-9 {
    opacity: .9;
}






















/*----------------------------------------*\
#Margins
\*----------------------------------------*/

.margin-bottom-3 {
    margin-bottom: 3%;
}

.margin-top-3 {
    margin-top: 3%;
}

.margin-top-10 {
    margin-top: 10%;
}

.margin-top-20 {
    margin-top: 20%;
}

.margin-top-15 {
    margin-top: 15%;
}





















/*----------------------------------------*\
#Padding
\*----------------------------------------*/

.pad-top-15 {
    padding-top: 15%;
}

.pad-top-10 {
    padding-top: 10%;
}

.pad-top-5 {
    padding-top: 5%;
}

.pad-top-4 {
    padding-top: 4%;
}

.pad-top-2 {
    padding-top: 2%;
}

.pad-top-1 {
    padding-top: 1%;
}

.pad-top-1 {
    padding-top: 1%;
}

.pad-bottom-15 {
    padding-bottom: 5%;
}

.pad-4 {
    padding: 4%;
}

.pad-5 {
    padding: 5%;
}

.pad-2 {
    padding: 2%;
}



















/*----------------------------------------*\
#Borders
\*----------------------------------------*/

.border-1-white {
    border: 1px solid;
    border-color: white;
}

.border-bottom-3-white {
    border-bottom: 3px solid;
    border-color: white;
}

















/*----------------------------------------*\
#Radius
\*----------------------------------------*/

.radius-100 {
    border-radius: 100%;
}































/*----------------------------------------*\
#Parallax Blocks
\*----------------------------------------*/

.block {
    height: 1000px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), rgba(0, 0, 0, 0.5) url('css/bg.jpg') no-repeat center center;
    width: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}


/*----------------------------------------*\
#Parallax Overlays
\*----------------------------------------*/

.overlay1 {
    height: 1000px;
    background: linear-gradient(rgba(35, 35, 35, 0.5), rgba(35, 35, 35, 0.5)), rgba(35, 35, 35, 0.5) url('css/bg-group.jpg') no-repeat center center;
    width: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overlay2 {
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), rgba(0, 0, 0, 0.7) url('https://bo4pr2wq1re2lm80n2j0spf1-wpengine.netdna-ssl.com/wp-content/uploads/2016/11/8867c5_e945cf6f5d404436a25709bcacb51ed4-e1493999386377.jpg') no-repeat center center;
    width: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
}

.img-small {
    height: 50%;
    width: 50%;
}

.all-caps {
    text-transform: uppercase;
}




























/*----------------------------------------*\
#Block sizing
\*----------------------------------------*/

.block-size-250 {
    height: 250px;
}

.block-size-550 {
    height: 550px;
}

.block-size-1000 {
    height: 1000px;
}





























/*----------------------------------------*\
#Media Querys
\*----------------------------------------*/


/*Iphones*/

@media only screen and (max-width: 700px) {
    .big-txt {
        margin-top: 25%;
        font-size: 4em;
        font-weight: 100;
    }

    #root {
        background: url('css/bg.jpg') no-repeat;
    }
    .edit-btns-default-fixed {
        top: 20%;
    }
    .edit-btns-save-fixed,
    .edit-btns-edit-fixed {
        top: 13%;
    }
    .edit-btns-default-fixed,
    .edit-btns-save-fixed,
    .edit-btns-edit-fixed {
        font-size: 1.5em;
    }


    .fa-briefcase,
    .fa-shopping-cart {
        font-size: 5em;
    }
    .ipad {
        border: 0 solid;
        background: inherit;
    }
}

@media only screen and (max-width: 1200px) {
    .dw-player {
        height: auto;
        width: 100%;
    }
}










/*Ipads/laptops*/

@media only screen and (min-width: 501px) {}