 .blue-gradient {
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+20,2989d8+50,1e5799+80&0+0,0.8+15,1+19,1+81,0.8+85,0+100;
     Blue+Two+Sided+Transparent */
     background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%);
     /* FF3.6-15 */
     background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%);
     /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%);
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799', GradientType=0);
     /* IE6-9 */
     background-color: black;
 }

 .blue-gradient-btn {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0107b7+20,0422fe+50,0107b7+80&0+0,0.8+32,1+43,1+60,0.8+73,0+100 */
background: -moz-linear-gradient(top, rgba(1,7,183,0) 0%, rgba(1,7,183,0.5) 20%, rgba(2,18,211,0.8) 32%, rgba(3,28,237,1) 43%, rgba(4,34,254,1) 50%, rgba(3,25,230,1) 60%, rgba(2,13,199,0.8) 73%, rgba(1,7,183,0.59) 80%, rgba(1,7,183,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(1,7,183,0) 0%,rgba(1,7,183,0.5) 20%,rgba(2,18,211,0.8) 32%,rgba(3,28,237,1) 43%,rgba(4,34,254,1) 50%,rgba(3,25,230,1) 60%,rgba(2,13,199,0.8) 73%,rgba(1,7,183,0.59) 80%,rgba(1,7,183,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(1,7,183,0) 0%,rgba(1,7,183,0.5) 20%,rgba(2,18,211,0.8) 32%,rgba(3,28,237,1) 43%,rgba(4,34,254,1) 50%,rgba(3,25,230,1) 60%,rgba(2,13,199,0.8) 73%,rgba(1,7,183,0.59) 80%,rgba(1,7,183,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000107b7', endColorstr='#000107b7',GradientType=0 ); /* IE6-9 */
     background-color: black;

 }

 .green-gradient-btn {
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#80a315+20,c3e41e+50,80a315+80&0+0,0.8+15,1+19,1+81,0.8+85,0+100 */
     background: -moz-linear-gradient(top, rgba(128, 163, 21, 0) 0%, rgba(128, 163, 21, 0.8) 15%, rgba(128, 163, 21, 1) 19%, rgba(128, 163, 21, 1) 20%, rgba(195, 228, 30, 1) 50%, rgba(128, 163, 21, 1) 80%, rgba(128, 163, 21, 1) 81%, rgba(128, 163, 21, 0.8) 85%, rgba(128, 163, 21, 0) 100%);
     /* FF3.6-15 */
     background: -webkit-linear-gradient(top, rgba(128, 163, 21, 0) 0%, rgba(128, 163, 21, 0.8) 15%, rgba(128, 163, 21, 1) 19%, rgba(128, 163, 21, 1) 20%, rgba(195, 228, 30, 1) 50%, rgba(128, 163, 21, 1) 80%, rgba(128, 163, 21, 1) 81%, rgba(128, 163, 21, 0.8) 85%, rgba(128, 163, 21, 0) 100%);
     /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom, rgba(128, 163, 21, 0) 0%, rgba(128, 163, 21, 0.8) 15%, rgba(128, 163, 21, 1) 19%, rgba(128, 163, 21, 1) 20%, rgba(195, 228, 30, 1) 50%, rgba(128, 163, 21, 1) 80%, rgba(128, 163, 21, 1) 81%, rgba(128, 163, 21, 0.8) 85%, rgba(128, 163, 21, 0) 100%);
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0080a315', endColorstr='#0080a315', GradientType=0);
     /* IE6-9 */
     background-color: black;
 }

 .blue-gradient-side-bar-left {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0107b7+20,0422fe+50,0107b7+80&0+0,0.8+32,1+43,1+60,0.8+73,0+100 */
background: -moz-linear-gradient(left, rgba(1,7,183,0) 0%, rgba(1,7,183,0.5) 20%, rgba(2,18,211,0.8) 32%, rgba(3,28,237,1) 43%, rgba(4,34,254,1) 50%, rgba(3,25,230,1) 60%, rgba(2,13,199,0.8) 73%, rgba(1,7,183,0.59) 80%, rgba(1,7,183,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(1,7,183,0) 0%,rgba(1,7,183,0.5) 20%,rgba(2,18,211,0.8) 32%,rgba(3,28,237,1) 43%,rgba(4,34,254,1) 50%,rgba(3,25,230,1) 60%,rgba(2,13,199,0.8) 73%,rgba(1,7,183,0.59) 80%,rgba(1,7,183,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(1,7,183,0) 0%,rgba(1,7,183,0.5) 20%,rgba(2,18,211,0.8) 32%,rgba(3,28,237,1) 43%,rgba(4,34,254,1) 50%,rgba(3,25,230,1) 60%,rgba(2,13,199,0.8) 73%,rgba(1,7,183,0.59) 80%,rgba(1,7,183,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000107b7', endColorstr='#000107b7',GradientType=1 ); /* IE6-9 */
     background-color: black;
 }