 /*
* ---------------------------------***-----------------------------------|
*      JsFramework Copywrite Dan Weatherbee 2018   *
*           Create your own css sheet for Mock ups.        *
*                 and add them inside helmet js.                   *
 *|=====    DON'T MESS WITH THIS ONE     ======|*
*                         WEBSITE DEFAULT                         *
*                             ****    CSS    ****                            *
*                                      ====                                     *
* -----------------------------------------------------------------------|
 */

 #top-bar {
     position: fixed;
     height: 5%;
     width: 100%;
     z-index: 1;
     left: 0;
     top: 7%;
 }

 #side-bar-left {
     width: 1%;
     height: 100%;
     z-index: -1
 }

 #side-bar-left {
     position: fixed;
     left: 0;
     top: 0;
 }

 @media only screen and (max-width: 1200px) {
     #top-bar {
         position: fixed;
         height: 5%;
         width: 100%;
         z-index: 1;
         left: 0;
         top: 95%;
     }
 }