/* Your custom styles */

.view {
    background: url("css/power.png")no-repeat center center;
    background-size: cover;
}



/*
.overlay1 {
    height: 1000px;
    background: url('css/sitebuilder.png') no-repeat center center;
    width: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

#api-error-msg {
    margin-top: 10%;
    max-width: 50%;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

#angry-cat-img {
    max-width: 75px;
}

#edit-template-btn {
    z-index: 1;
}

#admin-panel {
    background-color: darkslategrey;
    color: white;
    text-shadow: 0 1px 0 black;
}

#admin-panel>ul>li {
    min-width: 100px;
    text-shadow: 0 0 0 black;
}

.avatar> img {
    width: 75%;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}