#car-slide-1 {
    background-image: url("https://mdbootstrap.com/img/Photos/Others/images/77.jpg");
}

#car-slide-2 {
    background-image: url("https://mdbootstrap.com/img/Photos/Others/images/79.jpg");
}

#car-slide-3 {
    background-image: url("https://mdbootstrap.com/img/Photos/Others/images/47.jpg");
}

#car-slide-1,
#car-slide-2,
#car-slide-3 {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
}



/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */

html,
body,
.view {
    height: 100%;
}

.pt-5 {
    background-color: white;
}



/* Half Page Carousel itself*/

.carousel {
    height: 50%;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%;
}



/* Adjustment for mobile devices*/

@media (max-width: 776px) {
    .carousel {
        height: 100%;
    }
}



/* Navbar animation */

.navbar {
    background-color: rgba(0, 0, 0, 0.2);
}

.top-nav-collapse {
    background-color: #929FBA;
}



/* Adding color to the Navbar on mobile */

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #929FBA;
    }
    #game-area {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    #edit-area,
    #game-area {
        display: none;
    }
}


/* Footer color for sake of consistency with Navbar */

.page-footer {
    background-color: #929FBA;
}