<!--Double navigation-->
<header class="default-nav">
    <!--Navbar-->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
        <!--SideNav slide-out button-->
        <div class="float-left"><a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a></div>
        <!--Breadcrumb-->
        <div class="breadcrumb-dn mr-auto">
            <p>Dan Weatherbee Web Developer</p>
        </div>
        <ul class="nav navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item"><a class="nav-link" onClick="site.renderApi()"><i class="fa fa-cog"></i><span class="clearfix d-none d-sm-inline-block">Api</span></a></li>
            <li class="nav-item"><a class="nav-link" onClick="site.renderStorage()"><i class="fa fa-cog"></i><span class="clearfix d-none d-sm-inline-block">Storage</span></a></li>
            <li class="nav-item"><a class="nav-link" onClick="site.renderDefault()"><i class="fa fa-cog"></i><span class="clearfix d-none d-sm-inline-block">Class</span></a></li>
            <li class="nav-item"><a class="nav-link" onClick="site.edit()"><i class="fa fa-cog"></i><span class="clearfix d-none d-sm-inline-block">Edit</span></a></li>
        </ul>
    </nav>
    <!--/.Navbar-->
</header>
<!--/.Double navigation-->
<!--Main Layout-->
<video class="main-parallax-video" autoplay="true">
    <source class="main-parallax-video" poster="img/tenor.gif" src="vid/mp4.mp4" type="video/mp4">
</video>
<!--Video-->
